doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title Haco
        link(href="/commmon/css/style.css", rel="stylesheet")
    body
      header
        ul
          li: a(href="#") about
          li: a(href="#") profile
          li: a(href="#") product
          li: a(href="#") record
      section.mv
      section.about
        h2 HACO.project
        p
          |ダミーテキスト～！
